<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>deposerAnnonce</display-name>
    <servlet-name>deposerAnnonce</servlet-name>
    <servlet-class>Annonces.deposerAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deposerAnnonce</servlet-name>
    <url-pattern>/create/announcement</url-pattern>
  </servlet-mapping>
  <display-name>Vintud-JEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>listeAnnonces</display-name>
    <servlet-name>listeAnnonces</servlet-name>
    <servlet-class>Annonces.listeAnnonces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeAnnonces</servlet-name>
    <url-pattern>/announcements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnouncementController</display-name>
    <servlet-name>AnnouncementController</servlet-name>
    <servlet-class>Annonces.AnnouncementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementController</servlet-name>
    <url-pattern>/AnnouncementControllert</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Annonces.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  
    <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  
  
</web-app>